body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14pt;
    background-color: rgb(114, 155, 216);
    color: rgb(0, 0, 0);
}
h1{
    color: white;
    font-size: 24pt;
    text-align: center;
}
h3{
    text-align: center;
}
.header{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    background-color: rgb(16, 74, 160);
}
.nav a{
    color: white;
}
.nav{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    background-color: rgb(38, 33, 94);
    text-decoration: none;
    text-align: center;
}
.header ul li{
    display: inline-block;
    margin-right: 2%;
    margin-left: 2%;
}
.form_mes{
    display: block;
}
.mess{
    margin-top: 5px;
    display: block;
    font-size: 14px;
}
.info1 ul li{
    display: inline-block;
    justify-content: space-between;
    width: 31%;
    text-align: justify;
    margin-right: 1%;
    margin-left: 1%;
}
.info1{
    text-align: center;
}
.cars{
    width: 100%;
    height: 100%;
}
.buttonRent{
    padding-top: 15px;
}
.buttonRent a{
    text-decoration: none;
    border: 2px solid #fff; 
    color: #fff;
    border-radius: 15px;
    background: rgb(35, 67, 155);
    width: 22%;
    padding: 10px;
    font-size: 26px;
}
.info2{
    margin-left: 1%;
    margin-top: 45px;
}
.buttonSubmit{
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 5px 8px;
    font-size: 20px;
    border-radius: 8px;
    border-color: rgb(54, 34, 145);
    background: rgb(54, 34, 145);
    width: 120px;
    text-align: center;
    margin-bottom: 20px;
}
.footer{
    width: 100%;
    text-align: right;
    bottom: 0;
}
.ul_contacts li{
    display: inline;
}
